<h3 class="">{{"title.profile.edit"|trans}}</h3>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">{{ 'button.update'|trans }}</button>
    </div>
{{ form_end(form) }}