<h3 class="">{{"title.profile.information"|trans}}</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <p>{{"label.firstname"|trans}}:&nbsp;</p><span>{{app.user.firstname}}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <p>{{"label.lastname"|trans}}:&nbsp;</p><span>{{app.user.lastname}}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <p>{{"label.username"|trans}}:&nbsp;</p><span>{{app.user.username}}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <p>{{"label.email"|trans}}:&nbsp;</p><span>{{app.user.email}}</span>
        </div>
    </div>
</div>