{% extends '@BaseAdmin/layouts/cork/layout.html.twig' %}

{% block page_title %}{{"title.profile"|trans}}{% endblock page_title %}
{% block page_title_info %}{{"title.profile.info"|trans}}{% endblock page_title_info %}

{% block layout_px_spacing %}
	<div class="row layout-spacing">
	    <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
	        <div class="user-profile layout-spacing">
	            <div class="widget-content widget-content-area">
	                <div class="d-flex justify-content-between">
	                    <h3 class="">{{"title.profile"|trans}}</h3>
	                </div>

	                <div class="text-center user-info">
	                    <i class="fa fa-user-circle fa-8x" alt="avatar"></i>
	                    <p class="">{{ app.user }}</p>
	                </div>

	                <div class="user-info-list">
	                    <div class="">
	                        <ul class="contacts-block list-unstyled">
	                            <li class="contacts-block__item">
	                                <a href="mailto:example@mail.com"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>{{ app.user.email }}</a>
	                            </li>
	                            <li class="contacts-block__item">
	                            	<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-block"><i class="fas fa-pencil"></i>&nbsp;{{'button.profile.update'|trans}}</a>
	                            </li>
	                            <li class="contacts-block__item">
	                            	<a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-block"><i class="fas fa-lock"></i>&nbsp;{{'button.profile.password.update'|trans}}</a>
	                            </li>
	                        </ul>
	                    </div>                                    
	                </div>
	            </div>
	        </div>

	    </div>

	    <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
	        <div class="skills layout-spacing">
	            <div class="widget-content widget-content-area">
	            	{% block widget_content_area %}
	            	{% endblock widget_content_area %}
	            </div>                                
	        </div>
	    </div>
	</div>
{% endblock layout_px_spacing %}